@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  background-color: $white;
  color: $black;
  font-synthesis: none !important;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

li {
  list-style: none;
}