$white: #fff;
$black: #2e3238;

$primary_100: #005999;
$primary_200: #0078cf;
$accent_red: #b21f00;
$supporting_blue_100: #99d5ff;
$supporting_blue_200: #e5f4ff;

$neutral_100: #505050;
$neutral_200: #c4c4c4;
$neutral_300: #f0f0f0;

$blue_gray_100: #abb1ba;
$blue_gray_200: #d5d8dd;
$blue_gray_300: #fcfcfd;

$topbar_height: 3.1875rem;
$main_border: 1px solid $blue_gray_200;
$main_content_width: 106.25rem;