@use "../variables" as *;
@use "../mixins" as *;

$topbar_height: 3rem;

.main {
  display: flex;
  margin-top: $topbar_height;
  height: calc(100vh - $topbar_height);
}

.sidemenu {
  flex-shrink: 0;
  display: flex;
  align-items: start;
  height: calc(100vh - $topbar_height);
}

@media (max-width: 767px) {
  $topbar_height: 3.5rem;

  .main {
    margin-top: $topbar_height;
    height: calc(100vh - $topbar_height);
  }

  .sidemenu {
    display: none;
  }
}