@use "../variables" as *;
@use "../mixins" as *;

.main {
  display: flex;
  margin-top: $topbar_height;
  height: calc(100vh - $topbar_height);
}

.sidemenu {
  flex-shrink: 0;
  display: flex;
  align-items: start;
  height: calc(100vh - $topbar_height);
}