@use "../variables" as *;
@use "../mixins" as *;

.sidebar {
  width: fit-content;
  height: 100%;
  box-shadow: $right_inner_shadow;
  background-color: $white;
}

.tab {
  @include reset_button_defaults();
  @include flex_center();

  padding: 1rem;
  cursor: pointer;
}

.active {
  color: $primary_100;
}

.sidebar_icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 991px) {
  .active {
    color: $black;
  }
}

@media (max-width: 767px) {
  .sidebar {
    box-shadow: none;
  }

  .tab {
    padding: .375rem;

    &:not(:first-child) {
      display: none;
    }
  }

  .sidebar_icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}