@use "../../variables" as *;
@use "../../mixins" as *;

.input_container {
  flex-grow: 1;
}

.label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;

  span {
    color: $accent_red;
    margin-right: .25rem;
  }
}

.input_block {
  display: flex;
  align-items: start;
  gap: .25rem;

  input {
    color: $black;
  }
}

.tags_container {
  @include input();
  @include flex_align_center();

  position: relative;
  flex-wrap: wrap;
  gap: .25rem;
  padding: .25rem 2rem .25rem .25rem;
}

.tag {
  @include flex_align_center();
  width: fit-content;
  padding: .125rem .5rem;
  color: $black;
  border-radius: .25rem;
  background-color: $supporting_blue_200;
  box-shadow: 0 0 0 1px $supporting_blue_100 inset;
}

.tag_xmark {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
  cursor: pointer;
}

.circle_xmark {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 1rem;
  height: 1rem;
  color: $blue_gray_200;
  cursor: pointer;
}

.action_icon {
  @include button_icon();
}

@media (max-width: 576px) {
  .tags_container {
    min-width: 0;
  }

  .tag {
    overflow: hidden;
  }

  .tag_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}